body{
    color: aquamarine;
}
.half-gradient-bg {
            background: linear-gradient(to right, #ADD8E6 50%, #FFD700 50%);
            min-height: 100vh; 
            display: flex;
            align-items: center;
            justify-content: center;
            color: #333; }
